@model List<MenuItem>

<h1>Our Menu</h1>
<p>List of available dishes</p>

@foreach (var menuItem in Model.Where(m => m.Available))  // Filter only available items
{
    <div class="list-group">
        <div class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@menuItem.Name</h5>
                <h5 class="mb-1">#@menuItem.Id</h5>
            </div>
            <p>@menuItem.Price :-</p>
            <p class="mb-1">@menuItem.Description</p>
        </div>
    </div>
}
